* {
    margin: 0;
    padding: 0;
    border: none;
    }

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.header{
    background-color: lightslategrey;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 20px;    

}

.main {
    background-color: grey;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer {
    background-color: lightgrey;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 20px; 
    
}

.text {
    font-size: 20px;
    color: white;
    font-family: Arial, sans-serif;
}


/* Для краси :) */
.footer p{
    color: black;
}